<div class="container">

  <header>
    <h2><a href="#"><i class="logo"></i>PopUp</a></h2>
    <nav>
      <ul>
        <li>
          <a href="#" title="About">About Us</a>
        </li>
        <li>
          <a href="#" title="Partner">Partner</a>
        </li>
        <li>
          <a href="#" title="Feedback">Feedback</a>
        </li>
        <li>
          <a href="#" title="Register / Log In">Register/Log In</a>
        </li>
      </ul>
    </nav>
  </header>

 <body>
   <div class="cover">
 <!--  <h1>Manage Your Tags</h1> -->
 <p><span id="banner-typed-text" class="text-font-size"></span></p>
    <button class="bubbly-button">Add to Chrome</button>
  </div>
  <!-- <script src="landingpage.js"></script> -->

 </body>
</div>




